* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #242424;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: center;
}

.coverpage {
  width: 100%;
  height: 100vh;
  /* background: #242424;  */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverpage-logo {
  width: 40rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.parallax {
  overflow: hidden;
}

.nav {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -137px;
  padding: 30px 0 30px 0;

  width: 80px;
  height: 274px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  background: rgba(97, 0, 143, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition: 0.3s;
  z-index: 10;
}

.nav a {
  color: white;
}

.nav a:active {
  color: #ae00ff;
}

.nav i:active {
  color: #ae00ff;
}

.nav i {
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.active {
  filter: drop-shadow(1px 1px 4px #ae00ff);
}

.z1 {
  position: absolute;
  z-index: 1;
}

.image-area {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.img-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 180%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: skew(45deg);
  transition: 0.5s;
}

.img-wrapper:hover:before {
  left: -180%;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  /* filter: grayscale(100%); */
  transition: 2s;
}
.img-wrapper:hover img {
  /* filter: grayscale(0%); */
  transform: scale(1.1);
}

.img-wrapper ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li {
  background: #232323;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform: perspective(800px) rotateY(90deg);
  transition: 0.5s;
  transform-origin: right;
}

.img-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.img-wrapper:hover ul li:nth-child(2) {
  transition-delay: 0.6s;
}

.img-wrapper:hover ul li:nth-child(3) {
  transition-delay: 0.8s;
}

.img-wrapper:hover ul li:nth-child(4) {
  transition-delay: 1s;
}

.img-wrapper ul li a {
  color: #ad00ff;
  background: #232323;
}

.img-wrapper ul li i {
  color: #ad00ff;
  background: #232323;
}

.img-wrapper ul li i:hover {
  color: #fff;
  background: #232323;
}

.nav-mobile-button {
  position: fixed;
  background: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
  z-index: 5;
  right: 0;
  margin: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-mobile {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 20vh;
  bottom: -200px;
  z-index: 20;
  border-radius: 20px 20px 0 0;
  transition: 0.5s;
  display: none;
}

.nav-open {
  transform: translateY(-200px);
  transition: 0.5s;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.782);
  z-index: 4;
  transition: 1s;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.close-nav {
  position: fixed;
  right: 0;
  margin: 15px 20px 0 0;
  font-size: 20px;
  z-index: 5;
}

.nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items i {
  margin-top: 30px;
  font-size: 3rem;
}

.nav-mobile p {
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  font-family: "Amatic SC", cursive;
}

.mobile-tab {
  color: #620090;
}

:root {
  /* Set neon color */
  --neon-text-color: rgb(144, 0, 255);
  --neon-border-color: #62008f;
}

.coverpage-text {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 5;
}

.coverpage-text h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  /* text-transform: uppercase; */
  font-family: "Caveat", cursive;
  animation: flicker 1.5s infinite alternate;
}

.coverpage-text h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h1:focus {
  outline: none;
}

.coverpage-text h3 {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.427);
  /* text-transform: uppercase; */
  font-family: "Amatic SC", cursive;
  text-align: center;
}

.coverpage-text h3::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h3::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h3:focus {
  outline: none;
}

/* Portfolio */

.portfolio {
  background: #242424;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.portfolio-left::-webkit-scrollbar {
  display: none;
}

.portfolio h1 {
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 8rem;
}

.portfolio-right img {
  position: absolute;
  width: 140%;
  bottom: 0px;
}

.portfolio-left {
  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-images {
  position: absolute;
  top: 0;
}

.portfolio-left img {
  width: 100%;
}

.portfolio-img {
  opacity: 0.9;
}

.portfolio-img:hover {
  opacity: 1;
}

.img-bottons {
  position: absolute;
  right: 2%;
  bottom: 2%;
  background: #62008f;
  border-radius: 25px;
  padding: 5px;
  box-shadow: #232323 1px 1px 10px;

  width: 8%;
  height: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-bottons i {
  font-size: 20px;
  transition: 0.3s;
  color: white;
}

.img-bottons i:hover {
  font-size: 30px;
}

.off i {
  color: #370051;
  cursor: auto;
}

.off i:hover {
  font-size: 20px;
  transition: none;
}

/* Education */

.education {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.education h1 {
  font-size: 5rem;
  margin: 8rem 0 2rem 8rem;
  font-family: "Amatic SC", cursive;
  color: white;
}

.portfolio hr {
  display: none;
}

.education-card {
  background: #62008f;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  margin-left: 8rem;
  margin-bottom: 1.5rem;
}

.education-card-off {
  background: #2f2f2f;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  margin-left: 8rem;
  margin-bottom: 1.5rem;
  opacity: 0.5;
}

.date-box {
  background: #3c3c3c;
  height: 1.3rem;
  border-radius: 25px;
  width: 25%;
  margin-bottom: 0.8rem;
}

.title-box {
  background: #3c3c3c;
  height: 3rem;
  border-radius: 25px;
  width: 80%;
  margin-bottom: 0.8rem;
}

.school-box {
  background: #3c3c3c;
  height: 1.5rem;
  border-radius: 25px;
  width: 50%;
  margin-bottom: 0.8rem;
}

.education-card-icon {
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}

.education-card-icon i {
  font-size: 2rem;
  color: #62008f;
}

.education-card-icon-off {
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}

.education-card-icon-off i {
  font-size: 2rem;
  color: #2f2f2f;
}

.education-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.education-card-body-off {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.education-date p {
  font-size: 1.3rem;
  color: rgb(199, 199, 199);
  font-family: "Amatic SC", cursive;
}

.education-title p {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: "Amatic SC", cursive;
}

.education-school p {
  font-size: 1.5rem;
  color: white;
  font-family: "Amatic SC", cursive;
}

.education-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-right img {
  width: 80%;
}

.achievements {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.achievements-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 9rem;
}

.achievements-right-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.achievements-right h1 {
  font-size: 5rem;
  margin: 7rem 0 2rem 2rem;
  color: white;
}

.achievements-right-title p {
  font-size: 1.5rem;
  margin: 7rem 0 2rem 8rem;
  color: white;
  cursor: pointer;
}

* {
  font-family: "Amatic SC", cursive;
}

a {
  text-decoration: none;
}

.achievements-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.achievements-card {
  background: white;
  min-width: 150px;
  min-height: 150px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.achievements-card-off {
  background: #2f2f2f;
  min-width: 150px;
  min-height: 150px;
  border-radius: 25px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0.5;
}

.achievements-card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.achievements-card-head-box {
  width: 8rem;
  height: 8rem;
  background: #3c3c3c;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.achievements-card-head img {
  width: 40%;
}

* {
  font-family: "Amatic SC", cursive;
}

.achievements-card-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements-card-title p {
  font-size: 1.5rem;
  font-weight: bold;
}

.achievements-card-title-box {
  height: 1.5rem;
  background: #3c3c3c;
  width: 100%;
  border-radius: 25px;
}

.continue-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-4rem);
  gap: 5rem;
}

.continue-arrow i {
  color: white;
  font-size: 3rem;
}

.achievements-card-title p {
  text-align: center;
}

.skills {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.skills h1 {
  color: white;
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.skills-collection {
  width: 70%;
  height: 80%;
}

.skills-card {
  background: white;
  max-width: 250px;
  max-height: 250px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.skills-card-head {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-card-head img {
  align-items: center;
  width: 50%;
  object-fit: cover;
}

.skills-card-title p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.contact {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0em 0em;
  grid-template-areas: ". .";
}

.contact-left {
  color: white;
  padding: 50px 0 0 100px;
}

.contact-left h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.contact-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #62008f;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
}

.contact-item-icon:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #62008f;
  color: white;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
}

.contact-item p {
  margin-left: 10px;
  text-align: center;
  font-size: 2.5rem;
}

.contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-right img {
  width: 70%;
}

.contact a {
  color: white;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: flex-start;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #62008f;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.3s;
  margin-right: 10px;
}

.social-item:hover {
  background: #62008f;
  color: white;
  font-size: 2rem;
}

*::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: #62008f;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: #7200a7;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: #8100bc;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
  background: #242424;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #242424;
}

.achievements-modal {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  opacity: 0;
  z-index: -1;
  transition: opacity z-index 0.6s 0.9s;
}

.achievements-modal-card {
  width: 50%;
  height: 60%;
  padding: 1.5rem 4rem;
  /* background: #202020; */

  background: rgba(24, 24, 24, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(91, 0, 143, 0.5);

  border-radius: 25px;
}

.achievements-modal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 4rem;
}

.achievements-modal-card-header-close {
  font-size: 2rem;
  cursor: pointer;
}

.achievements-modal-card-body {
  overflow: auto;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem 2rem;
  grid-template-areas: ". . .";
}

.achievements-modal-card-body p {
  color: #000;
  font-size: 1.5rem;
}

.modal-show {
  /* display: flex; */
  z-index: 500;
  opacity: 1;
  pointer-events: unset;
  transition: opacity z-index 0.6s;
}

body {
  transition: 0.3s;
}

@media (max-height: 720px) {
  .achievements-card-head img {
    width: 100%;
  }

  .achievements-card-head {
    width: 30%;
  }

  .achievements-card p {
    font-size: 1rem;
  }

  .continue-arrow i {
    font-size: 2rem;
  }

  .education h1 {
    margin: 3rem 0 0 8rem;
  }

  .education-right img {
    margin: 0;
  }

  .achievements-right h1 {
    margin: 1.5rem 0 0rem 0;
  }

  .achievements-modal-card-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0rem 1rem;
    grid-template-areas: ". . .";
  }

  .achievements-card {
    background: white;
    min-width: 80px;
    min-height: 80px;
    border-radius: 25px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .achievements-card-off {
    background: #2f2f2f;
    min-width: 150px;
    min-height: 150px;
    border-radius: 25px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .coverpage-logo {
    width: 20rem;
  }

  .achievements-card {
    background: white;
    min-width: 80px;
    min-height: 200px;
    border-radius: 25px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .achievements-card-head img {
    width: 50%;
  }

  .achievements-card-head {
    width: auto;
  }

  .achievements-card p{
    font-size: 1.5rem;
  }

  .coverpage-text {
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .nav-mobile-button {
    display: flex;
  }

  .nav-mobile {
    display: block;
  }

  .card {
    position: relative;
    left: 50%;
    margin-left: -125px;
  }

  .portfolio {
    overflow: hidden;
    background: #242424;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
  }

  .portfolio-left img {
    width: 100%;
  }

  .img-bottons {
    position: absolute;
    right: 2%;
    bottom: 5%;
    background: #62008f;
    border-radius: 25px;
    padding: 6px;
    box-shadow: #232323 1px 1px 10px;

    height: 10%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .portfolio-right img {
    display: none;
  }

  .separation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio hr {
    display: block;
    width: 60%;
    border-color: #ffffff19;
  }

  .education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
  }

  .education h1 {
    margin: 1rem 0;
  }

  .education-card {
    margin-left: 0;
  }

  .education-card-off {
    margin-left: 0;
  }

  .education-right {
    display: none;
  }

  .education-right img {
    display: none;
  }

  .achievements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
  }

  .achievements-left {
    display: none;
  }

  .achievements-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0;
  }

  .achievements-right h1 {
    margin: 0;
  }

  .achievements-collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "."
      "."
      ".";
  }

  .achievements-modal-card{
    padding: 20px;
    width: 80%;
    height: 80%;
  }

  .achievements-modal-card-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "."
      "."
      ".";
  }

  .mobile-hidden {
    display: none;
  }

  .continue-arrow i {
    font-size: 3rem;
  }

  .contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .contact-item p {
    font-size: 2rem;
  }

  .contact-right {
    display: none;
  }

  .achievements-right-title p {
    margin: 0;
  }
}
