* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #242424;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: center;
}

.coverpage {
  width: 100%;
  height: 100vh;
  /* background: #242424;  */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverpage-logo {
  width: 40rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.parallax {
  overflow: hidden;
}

.nav {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -137px;
  padding: 30px 0 30px 0;

  width: 80px;
  height: 274px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  background: rgba(97, 0, 143, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition: 0.3s;
  z-index: 10;
}

.nav a {
  color: white;
}

.nav a:active {
  color: #ae00ff;
}

.nav i:active {
  color: #ae00ff;
}

.nav i {
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.active {
  filter: drop-shadow(1px 1px 4px #ae00ff);
}

.skills {
  width: 100%;
  height: 100vh;
  /* background: #888888; */

  background-color: #242424;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23301c39' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%233c154e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23490e64' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23550779' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2362008F' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-left: 4vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8vw 8vw;
}

.z1 {
  position: absolute;
  z-index: 1;
}

.image-area {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.img-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 180%;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: skew(45deg);
  transition: 0.5s;
}

.img-wrapper:hover:before {
  left: -180%;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  /* filter: grayscale(100%); */
  transition: 2s;
}
.img-wrapper:hover img {
  /* filter: grayscale(0%); */
  transform: scale(1.1);
}

.img-wrapper ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li {
  background: #232323;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform: perspective(800px) rotateY(90deg);
  transition: 0.5s;
  transform-origin: right;
}

.img-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.img-wrapper:hover ul li:nth-child(2) {
  transition-delay: 0.6s;
}

.img-wrapper:hover ul li:nth-child(3) {
  transition-delay: 0.8s;
}

.img-wrapper:hover ul li:nth-child(4) {
  transition-delay: 1s;
}

.img-wrapper ul li a {
  color: #ad00ff;
  background: #232323;
}

.img-wrapper ul li i {
  color: #ad00ff;
  background: #232323;
}

.img-wrapper ul li i:hover {
  color: #fff;
  background: #232323;
}

.nav-mobile-button {
  position: fixed;
  background: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
  z-index: 5;
  right: 0;
  margin: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-mobile {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 20vh;
  bottom: -200px;
  z-index: 20;
  border-radius: 20px 20px 0 0;
  transition: 0.5s;
  display: none;
}

.nav-open {
  transform: translateY(-200px);
  transition: 0.5s;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.782);
  z-index: 4;
  transition: 1s;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.close-nav {
  position: fixed;
  right: 0;
  margin: 15px 20px 0 0;
  font-size: 20px;
  z-index: 5;
}

.nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items i {
  margin-top: 30px;
  font-size: 3rem;
}

.nav-mobile p {
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  font-family: "Amatic SC", cursive;
}

.mobile-tab {
  color: #620090;
}

:root {
  /* Set neon color */
  --neon-text-color: rgb(144, 0, 255);
  --neon-border-color: #62008f;
}

.coverpage-text {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 5;
}

.coverpage-text h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  /* text-transform: uppercase; */
  font-family: "Caveat", cursive;
  animation: flicker 1.5s infinite alternate;
}

.coverpage-text h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h1:focus {
  outline: none;
}

.coverpage-text h3 {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.427);
  /* text-transform: uppercase; */
  font-family: "Amatic SC", cursive;
  text-align: center;
}

.coverpage-text h3::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h3::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.coverpage-text h3:focus {
  outline: none;
}

/* Portfolio */

.portfolio {
  background: #242424;
  height: 100vh;
  width: 80%;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.portfolio-left::-webkit-scrollbar {
  display: none;
}

.portfolio h1 {
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 8rem;
}

.portfolio-right img {
  position: absolute;
  width: 140%;
  bottom: 0px;
}

.portfolio-left {
  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10rem;
}

.portfolio-images {
  position: absolute;
  top: 0;
}

.portfolio-left img {
  width: 100%;
}

.portfolio-img {
  opacity: 0.9;
}

.portfolio-img:hover {
  opacity: 1;
}

.img-bottons {
  position: absolute;
  right: 2%;
  bottom: 2%;
  background: #62008f;
  border-radius: 25px;
  padding: 5px;
  box-shadow: #232323 1px 1px 10px;

  width: 8%;
  height: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-bottons i {
  font-size: 20px;
  transition: 0.3s;
  color: white;
}

.img-bottons i:hover {
  font-size: 30px;
}

.off i {
  color: #370051;
  cursor: auto;
}

.off i:hover {
  font-size: 20px;
  transition: none;
}

/* Education */

.education {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.education h1 {
  font-size: 5rem;
  margin: 8rem 0 2rem 8rem;
  font-family: "Amatic SC", cursive;
  color: white;
}

.portfolio hr {
  display: none;
}

.education-card {
  background: #62008f;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  margin-left: 8rem;
  margin-bottom: 1.5rem;
}

.education-card-off {
  background: #2f2f2f;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
  margin-left: 8rem;
  margin-bottom: 1.5rem;
  opacity: 0.5;
}

.date-box {
  background: #3c3c3c;
  height: 1.3rem;
  border-radius: 25px;
  width: 25%;
  margin-bottom: 0.8rem;
}

.title-box {
  background: #3c3c3c;
  height: 3rem;
  border-radius: 25px;
  width: 80%;
  margin-bottom: 0.8rem;
}

.school-box {
  background: #3c3c3c;
  height: 1.5rem;
  border-radius: 25px;
  width: 50%;
  margin-bottom: 0.8rem;
}

.education-card-icon {
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}

.education-card-icon i {
  font-size: 2rem;
  color: #62008f;
}

.education-card-icon-off {
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}

.education-card-icon-off i {
  font-size: 2rem;
  color: #2f2f2f;
}

.education-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.education-card-body-off {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.education-date p {
  font-size: 1.3rem;
  color: rgb(199, 199, 199);
  font-family: "Amatic SC", cursive;
}

.education-title p {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-family: "Amatic SC", cursive;
}

.education-school p {
  font-size: 1.5rem;
  color: white;
  font-family: "Amatic SC", cursive;
}

.education-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-right img {
  width: 80%;
}

.achievements {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.achievements-left {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 9rem;
}

.achievements-right h1 {
  font-size: 5rem;
  margin: 8rem 0 2rem 8rem;
  font-family: "Amatic SC", cursive;
  color: white;
}

.achievements-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.achievements-card {
  background: white;
  min-width: 150px;
  min-height: 150px;
  border-radius: 25px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.achievements-card-off {
  background: #2f2f2f;
  min-width: 150px;
  min-height: 150px;
  border-radius: 25px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0.5;
}

.achievements-card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.achievements-card-head-box {
  width: 8rem;
  height: 8rem;
  background: #3c3c3c;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.achievements-card-head img {
  width: 50%;
}

* {
  font-family: "Amatic SC", cursive;
}

.achievements-card-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements-card-title p {
  font-size: 1.5rem;
  font-weight: bold;
}

.achievements-card-title-box {
  height: 1.5rem;
  background: #3c3c3c;
  width: 100%;
  border-radius: 25px;
}

.continue-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-4rem);
}

.continue-arrow i {
  color: white;
  font-size: 3rem;
}

@media (max-width: 720px) {
  .achievements-card-head img {
    width: 40%;
  }

  .continue-arrow i {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .coverpage-logo {
    width: 20rem;
  }

  .coverpage-text {
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .nav-mobile-button {
    display: flex;
  }

  .nav-mobile {
    display: block;
  }

  .skills {
    width: 100%;
    height: auto;
  }

  .skills-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .card {
    position: relative;
    left: 50%;
    margin-left: -125px;
  }
  .portfolio {
    overflow: hidden;
    background: #242424;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
  }

  .portfolio-left img {
    width: 100%;
  }

  .img-bottons {
    position: absolute;
    right: 2%;
    bottom: 5%;
    background: #62008f;
    border-radius: 25px;
    padding: 6px;
    box-shadow: #232323 1px 1px 10px;

    height: 10%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .portfolio-right {
    margin-left: 0rem;
  }

  .portfolio-right img {
    display: none;
  }

  .separation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio hr {
    display: block;
    width: 60%;
    border-color: #ffffff19;
  }

  .education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
  }

  .education h1 {
    margin: 1rem 0;
  }

  .education-card {
    margin-left: 0;
  }

  .education-card-off {
    margin-left: 0;
  }

  .education-right {
    display: none;
  }

  .education-right img {
    display: none;
  }

  .achievements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
  }

  .achievements-left {
    display: none;
  }

  .achievements-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0;
  }

  .achievements-right h1 {
    margin: 0;
  }

  .achievements-collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      ".";
  }

  .achievements-card {
    margin-bottom: 1rem;
  }

  .achievements-card-off {
    margin-bottom: 1rem;
  }

  .mobile-hidden {
    display: none;
  }

  .continue-arrow i {
    font-size: 3rem;
  }
}
